.mainContainer{
    background-color: white;
    padding: 1rem;
}
.addContiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.addImage{
    height: 13rem;
    width: 13rem;
    cursor: pointer;
}
.addItemDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
/* .imageDiv{
    padding: 0;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    border: 6px solid red;
} */
.addItemDiv p{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.addItemDiv span{
    color: rgb(252, 68, 12);
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width:480px) {
    .addImage{
        height: 6rem;
        width: 6rem;
    }
    .addItemDiv p{
        font-weight: 500;
        font-size: 13px;
    }
    .addItemDiv span{
        color: rgb(252, 68, 12);
        font-weight: 600;
        font-size: 15px;
    }
    .addItemDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.3rem;
    }
    .addContiner{
        flex-wrap: nowrap;
    }
    
}