.itemImage{
    height: 23rem;
    margin-top: 2rem;
}
.postDetailContainer{
    display: flex;
    margin-right: 1rem;
    background-color: white;
    width: 100%;
}
.imageContainer{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offers{
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}
.input{
    margin: 0.5rem;
    width: 12rem;
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 0.3rem;
}
.button{
    width: 8rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: orangered;
    border-radius: 0.2rem;
    cursor: pointer;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.images img{
    height: 8rem;
    width: 8rem;
}
.images img:hover{
    width: 12rem;
    height: 12rem;
    z-index: 2;
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
}
.descriptionContainer{
    margin-left: 1rem;
    padding: 1rem;
    width: 75%;
}
.descriptionImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descriptionImage img{
    width: 25rem;
}

@media screen and (max-width:480px) {
    .itemImage{
        height: 12rem;
    }
    .images img{
        height: 10rem;
        width: 10rem;
    }
    .imageContainer{
        width: 21rem;
        display: flex;
        flex-direction: column;
    }
    .postDetailContainer{
        display: flex;
        flex-direction: column;
        margin-right: 0rem;
    }
    .asideConatiner{
        width: 20rem;
        margin: 1rem;
    }
    .descriptionImage img{
        width: 20rem;
    }
    .offers{
        height: 15rem;
        width: 21rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        gap: 1rem;
    }
    .returnPolicy{
        width: 21rem;
        margin-left: 1rem;
    }
    .nameRating{
        margin-left: 1rem;
    }
}