.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0rem;
    background-color: #fff;
}
.mainContainer img{
    margin: 1rem;
    cursor: pointer;
}


@media screen and (max-width:480px) {
    .mainContainer img{
        height: 7rem;
    }
}